<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2026 TheGoat team. All rights reserved.
 * See https://example.com/license for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <goat_cache_warmer>
            <general>
                <enabled>0</enabled>
                <python_path>/usr/bin/python3</python_path>
                <timeout>300</timeout>
                <threads>5</threads>
                <use_threads>0</use_threads>
                <delay>120</delay>
                <lock_timeout>3600</lock_timeout>
                <rate_limit>0</rate_limit>
            </general>
            <nginx_log_parsing>
                <ignored_user_agents>{"_1771691296441_441":{"regex_expression":"\/.*GoogleBot.*\/"},"_1771692382840_840":{"regex_expression":"\/.*BingBot.*\/"}}</ignored_user_agents>
                <log_pattern>/^.*?"GET\s+(\/[^\s]*)\s+HTTP\/.*?\s+(\d+)\s+.*$/m</log_pattern>
                <log_include_base_domain>0</log_include_base_domain>
            </nginx_log_parsing>
        </goat_cache_warmer>
    </default>
</config>

